[submodule "lib/drogon"]
	path = lib/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "lib/rocksdb"]
	path = lib/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "lib/fasttext"]
	path = lib/fasttext
	url = https://github.com/facebookresearch/fastText.git
[submodule "lib/onmt_tokenizer"]
	path = lib/onmt_tokenizer
	url = https://github.com/IlyaGusev/Tokenizer.git
[submodule "lib/torch"]
	path = lib/torch
	url = https://github.com/pytorch/pytorch.git
