.avatar {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.avatar.f {
    background-size: 100%;
}

.bc0 { background-color: #294659; } .tc0 { color: #294659; }
.bc1 { background-color: #e56555; } .tc1 { color: #ca5650; }
.bc2 { background-color: #f28c48; } .tc2 { color: #d87b29; }
.bc3 { background-color: #8e85ee; } .tc3 { color: #7170d5; }
.bc4 { background-color: #76c84d; } .tc4 { color: #50b232; }
.bc5 { background-color: #5fbed5; } .tc5 { color: #55a8bd; }
.bc6 { background-color: #549cdd; } .tc6 { color: #4e92cc; }
.bc7 { background-color: #f2749a; } .tc7 { color: #e5638a; }
.bc8 { background-color: #d1b04d; } .tc8 { color: #ae9038; }
